<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jwstudios.flash"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.jwstudios.flash.FlashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jwstudios.flash.dailies.Dailies" />
        <activity android:name="com.jwstudios.flash.dailies.DailySummary" />
        <activity android:name="com.jwstudios.flash.CreateItem" />
        <activity android:name="com.jwstudios.flash.game.PlayRandom" />
        <activity android:name="com.jwstudios.flash.listwords.ListWords" />
        <activity android:name="com.jwstudios.flash.ViewWord" />
        <activity android:name="com.jwstudios.flash.ViewVerbs" />
        <activity
                android:name="com.google.android.gms.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>