<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.flash"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    

    <uses-sdk android:minSdkVersion="5" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".FlashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dailies.Dailies" />
        <activity android:name=".dailies.DailySummary" />
        <activity android:name=".CreateItem" />
        <activity android:name=".game.PlayRandom" />
        <activity android:name=".listwords.ListWords" />
        <activity android:name=".ViewWord" />
        <activity android:name=".ViewVerbs" />
    </application>

</manifest>